body {
     font-family: "Roboto", sans-serif;
}

nav {
     background-color: green;
}

nav .logo h1 {
     font-family: "Comfortaa", sans-serif;
     transition: 0.5s;
}
nav .logo h1:hover {
     color: #eeed;
}
nav .links .product {
     transition: 0.5s;
     
} 
nav .links .product:hover {
     background-color: #2c7500;
     padding: 10px;
     border-radius: 20px;

}
nav .links .cart {
     transition: 0.5s;
} 
nav .links .cart:hover {
     background-color: #2c7500;
     padding: 10px;
     border-radius: 30px;
}
.nav-tap {
border-bottom: 1px solid #eee;
padding: 10px 20px;
gap: 40px;
justify-content: center;
cursor: pointer;
}
.nav-tap li {
     background-color: green;
     color: white ;
     padding: 10px 20px;
     border-radius: 20px;
     transition: 0.5s;
}
.nav-tap li:hover {
     background-color: #2c7500;
     color: #eee;
     transform: scale(0.9);
}
.item .content .add-to-cart {
     background-color: orange;
     transition: 0.5s;
}
.item .content .add-to-cart:hover {
     background-color: rgb(236, 160, 19);
}
.item .content .category {
     border: 1px solid #eee;
     padding: 10px;
     border-radius: 8px;
}
.item img {
     width: 200px;
}
